<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>KIOKU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= favicon_link_tag('favicon2.ico')  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
        <div id="center_layout">
          <%= render 'layouts/header' %>

          <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
              <p class="notice"><%= notice %></p>
            </div>
          <% end %>

          <% if flash[:alert] %>
            <div class="alert alert-danger" role="alert">
              <p class="alert"><%= alert %></p>
            </div>
          <% end %>

        <%= yield %>
      </div><!-- conteiner !-->
    </div><!-- center_layout !-->
    
    <%= render 'layouts/footer' %>
  </body>
</html>


  